@page "/budgetview"

@using Sesh.Data
@using SeshDB.Data.Sesh

@inject AuthenticationStateProvider AuthenticationStateProvider

@*
    Using OwningComponentBase ensures that the service and related services
    that share its scope are disposed with the component.
*@

@inherits OwningComponentBase<BudgetService>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (budgetedItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Name</th>
                <th>CurrentBalance</th>
                <th>Class Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budgetedItem in budgetedItems)
            {
                <tr>
                    <td>@budgetedItem.BudgetedAmount</td>
                    <td>@budgetedItem.BudgetItemName</td>
                    <td>@budgetedItem.CurrentBalance</td>
                    <td>@budgetedItem.ClassId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //AuthenticationState is available as a CascadingParameter

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    List<BudgetedItems> budgetedItems;

    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        var user = (await authenticationStateTask).User;
        // Get the budgeted items for the current user
        // We access BudgetServices using @Service
        budgetedItems = await @Service.GetBudgetItemAsync(user.Identity.Name);
    }
}
